<div class="col-md-8 mx-auto" style="background: rgb(17, 17, 17);">
 <h3>{{viewTitle}}</h3>

<form action="/empleado" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{empleado._id}}">
    <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{empleado.nombre}}">
        <div class="text-danger">
            {{empleado.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>C&eacute;dula</label>
        <input type="text" class="form-control" name="cedula" placeholder="C&eacute;dula" value="{{empleado.cedula}}">
        
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{empleado.email}}">
        <div class="text-danger">
            {{empleado.emailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tel&eacute;fono</label>
            <input type="text" class="form-control" name="telefono" placeholder="Tel&eacute;fono" value="{{empleado.telefono}}">
        </div>
        <div class="form-group col-md-6">
            <label>Ciudad</label>
            <input type="text" class="form-control" name="ciudad" placeholder="Ciudad" value="{{empleado.ciudad}}">
        </div>
    </div>
    <div class="form-group">
        <label>Direccion Empleado</label>
        <input type="text" class="form-control" name="addres" placeholder="Addres" value="{{empleado.addres}}">
        
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Guardar</button>
        <a class="btn btn-secondary" href="/empleado/list"><i class="fa fa-list-alt"></i> Ver Lista</a>
    </div>
</form>   
</div>
